.customMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1rem;
    gap: 0.5rem;
}

.customGrid{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 0.5rem;
    margin-bottom: 1.5rem;
}

/* responsive */
@media (max-width:880px){
  .grid{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}
.flexRow{
    display: flex;
    gap: 0.4rem;
}
