.customCard{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;

    background-color: var(--card);
    border-radius: 10px;   
    box-shadow: var(--shadow);
    page-break-inside: avoid;
    break-inside: avoid;
}
.customCardBeige{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;

    border-radius: 10px;   

    margin-bottom: 0.5rem;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background: linear-gradient(180deg, #FBFAF8, #fff);      
    page-break-inside: avoid;
    break-inside: avoid;  
     
}
.title{
    font-size: 1rem;
    color:var(--accent);
    margin-bottom: 1rem;
}