.customSubCard{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;

    background: linear-gradient(180deg, #2b4d7a08, transparent);
    border-radius: 10px;      
    gap: 0.3rem;
}
.kanji{
    font-family: "Noto Sans JP", "Yu Gothic", "Meiryo", sans-serif;
    font-size: 0.9rem;
}
.romanji{
    font-size: 12px;
    text-align: center;
    color: var(--muted);
}